# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: List files
      run: ls -R

    - name: Restore dependencies
      run: dotnet restore ./CustomerUi/CustomerUi.csproj

    - name: Build
      run: dotnet build CustomerUi/CustomerUi.csproj --configuration Release --no-restore

    - name: Test
      run: dotnet test CustomerUi/CustomerUi.csproj --no-build --verbosity normal
